body{
  margin: 0;
  font-family: "Overpass", sans-serif ;
}

.hero video{
  width: 60%;
height: fit-content;
margin-top: 100px;
}

.hero{
  display: flex;
  justify-content: space-between;
  height: 650px;
  width: 100%;
  background-color:rgb(25, 32, 49);
  background: linear-gradient(180deg, rgb(25, 32, 49),  rgb(25, 32, 49));
background-position: center;
background-size: cover;
position: absolute;
}
.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #7424ff1f;
  border-radius: 30px;
}
